{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                Photo<span>pi</span>X
            </div>
            <div class="menu">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'gallery' %}">Gallery</a>
                <a href="{% url 'contact' %}">Contact</a>
                <a href="{% url 'register' %}">Registration</a>
            </div>
            <div class="icon">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </nav>

    </header>
    <div class="about_div">

        <h1><u>Contact-Us</u></h1>
        <p>Make your business shine online with a custom gallery website designed just for you by a professional designer. Need ideas? We’ve collected some amazing examples of gallery websites from our global community of designers. Get inspired and start planning the perfect gallery web design today.</p>

<div class="contact">
    <lable> Name </lable><br/>
    <input type="text" placeholder="Enter  Name"><br/><br/><br/>
    <lable>Phone Number </lable><br/>
    <input type="text" placeholder="Enter Phone Number "><br/><br/><br/>
    <lable>Email</lable><br/>
    <input type="email" placeholder="Enter Email Address"><br/><br/><br/>
    <lable>Message</lable><br/>
    <input type="text" placeholder="" id="last"><br/><br/><br/>
    <button>Submit</button>
</div>
</div>

</body>

</html>